<div class="row">
    {{#each todos}}
    <div class="col-4 mt-1">
        <div class="card {{#if done_status}}bg-secondary{{else}}bg-primary{{/if}}">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="/{{id}}" class="btn btn-info float-right">Detail</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
