<h3>{{title}} 
    {{#if done_status}}<span class="badge badge-success">Selesai</span>
    {{else}} <span class="badge badge-danger">Belum Selesai</span>
    {{/if}}
</h3>
<p>{{description}}</p>
<a href="/" class="btn btn-dark">Kembali</a>